{{ template "header" . }}

<div class="maincontents">

<p>
{{ if (.Choices) -}}
Sorry, the manpage “{{ .Manpage }}” was not found with the specified criteria. Did you mean one of the following instead?
<ul>
{{ range $idx, $choice := .Choices }}
  <li><a href="{{ $choice.ServingPath ".html" }}">{{ $choice.ServingPath ".html" }}</a></li>
{{ end -}}
</ul>
{{ else -}}
Sorry, the manpage “{{ .Manpage }}” was not found! Did you spell it correctly?
{{ end - }}
</p>

</div>

{{ template "footer" . }}
