#content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.panels {
    order: 2;
    position: sticky;
    top: 20px;
    margin-left: auto;
    max-height: calc(100vh - 40px);
    overflow: auto;
}

.paneljump {
    display: none;
}

@media all and (max-width: 800px) {
    #content {
        flex-direction: column;
    }
    .panels {
        max-height: unset;
        width: 100%;
        position: unset;
    }
    .paneljump {
        display: block;
    }
}

.card > details > summary {
    list-style: none;
}

.breadcrumb-item svg {
  fill: currentColor;
}

.maincontent {
    width: 100%;
    max-width: 82ch; /* original: 80ch */
    order: 1;
    margin-bottom: 20px;
}

.versioned-links-icon {
  margin-right: 2px;
}
.versioned-links-icon a {
  color: black;
}
.versioned-links-icon a:hover {
  color: blue;
}
.versioned-links-icon-inactive {
  opacity: 0.5;
}

.otherversions li,
.otherlangs li {
    display: flex;
}

.otherversions a,
.otherlangs a {
    flex-shrink: 0;
}

.pkgversion,
.pkgname {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.pkgversion,
.pkgname {
    margin-left: auto;
    padding-left: 1em;
}

/* mandoc styles */

.mandoc, .mandoc pre, .mandoc code {
    font-family: "Source Code Pro", monospace;
    font-size: 1.04rem;
}
.mandoc pre {
    white-space: pre-wrap;
}
.mandoc {
    margin-right: 45px;

    /* Required so that table.head and table.foot can take up 100% of what remains after floating the panels. */
    overflow: hidden;
    margin-top: .5em;
}
table.head, table.foot {
    width: 100%;
}
.head-vol {
    text-align: center;
}
.head-rtitle {
    text-align: right;
}

/* TODO(later): get rid of .spacer once a new-enough mandoc is in Debian */
.spacer, .Pp {
    min-height: 1em;
}

.anchor {
    margin-left: .25em;
    visibility: hidden;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    visibility: visible;
}

@media print {
    #header, .footer, .panels, .anchor, .paneljump {
        display: none;
    }
    #content {
        margin: 0;
    }
    .mandoc {
        margin: 0;
    }
}

/* from mandoc.css */
/* Displays and lists. */

.Bd { }
.Bd-indent {    margin-left: 3.8em; }

.Bl-bullet {    list-style-type: disc;
        padding-left: 1em; }
.Bl-bullet > li { }
.Bl-dash {  list-style-type: none;
        padding-left: 0em; }
.Bl-dash > li:before {
        content: "\2014  "; }
.Bl-item {  list-style-type: none;
        padding-left: 0em; }
.Bl-item > li { }
.Bl-compact > li {
        margin-top: 0em; }

.Bl-enum {  padding-left: 2em; }
.Bl-enum > li { }
.Bl-compact > li {
        margin-top: 0em; }

.Bl-diag { }
.Bl-diag > dt {
        font-style: normal;
        font-weight: bold; }
.Bl-diag > dd {
        margin-left: 0em; }
.Bl-hang { }
.Bl-hang > dt { }
.Bl-hang > dd {
        margin-left: 5.5em; }
.Bl-inset { }
.Bl-inset > dt { }
.Bl-inset > dd {
        margin-left: 0em; }
.Bl-ohang { }
.Bl-ohang > dt { }
.Bl-ohang > dd {
        margin-left: 0em; }
.Bl-tag {   margin-left: 5.5em; }
.Bl-tag > dt {
        float: left;
        margin-top: 0em;
        margin-left: -5.5em;
        padding-right: 1.2em;
        vertical-align: top; }
.Bl-tag > dd {
        clear: both;
        width: 100%;
        margin-top: 0em;
        margin-left: 0em;
        vertical-align: top;
        overflow: auto; }
.Bl-compact > dt {
        margin-top: 0em; }

.Bl-column { }
.Bl-column > tbody > tr { }
.Bl-column > tbody > tr > td {
        margin-top: 1em; }
.Bl-compact > tbody > tr > td {
        margin-top: 0em; }

.Rs {       font-style: normal;
        font-weight: normal; }
.RsA { }
.RsB {      font-style: italic;
        font-weight: normal; }
.RsC { }
.RsD { }
.RsI {      font-style: italic;
        font-weight: normal; }
.RsJ {      font-style: italic;
        font-weight: normal; }
.RsN { }
.RsO { }
.RsP { }
.RsQ { }
.RsR { }
.RsT {      text-decoration: underline; }
.RsU { }
.RsV { }

.eqn { }
.tbl { }

.HP {       margin-left: 3.8em;
        text-indent: -3.8em; }

/* Semantic markup for command line utilities. */

table.Nm { }
code.Nm {   font-style: normal;
        font-weight: bold;
        font-family: inherit; }
.Fl {       font-style: normal;
        font-weight: bold;
        font-family: inherit; }
.Cm {       font-style: normal;
        font-weight: bold;
        font-family: inherit; }
.Ar {       font-style: italic;
        font-weight: normal; }
.Op {       display: inline; }
.Ic {       font-style: normal;
        font-weight: bold;
        font-family: inherit; }
.Ev {       font-style: normal;
        font-weight: normal;
        font-family: monospace; }
.Pa {       font-style: italic;
        font-weight: normal; }

/* Semantic markup for function libraries. */

.Lb { }
code.In {   font-style: normal;
        font-weight: bold;
        font-family: inherit; }
a.In { }
.Fd {       font-style: normal;
        font-weight: bold;
        font-family: inherit; }
.Ft {       font-style: italic;
        font-weight: normal; }
.Fn {       font-style: normal;
        font-weight: bold;
        font-family: inherit; }
.Fa {       font-style: italic;
        font-weight: normal; }
.Vt {       font-style: italic;
        font-weight: normal; }
.Va {       font-style: italic;
        font-weight: normal; }
.Dv {       font-style: normal;
        font-weight: normal;
        font-family: monospace; }
.Er {       font-style: normal;
        font-weight: normal;
        font-family: monospace; }

/* Various semantic markup. */

.An { }
.Lk { }
.Mt { }
.Cd {       font-style: normal;
        font-weight: bold;
        font-family: inherit; }
.Ad {       font-style: italic;
        font-weight: normal; }
.Ms {       font-style: normal;
        font-weight: bold; }
.St { }
.Ux { }

/* Physical markup. */

.Bf {       display: inline; }
.No {       font-style: normal;
        font-weight: normal; }
.Em {       font-style: italic;
        font-weight: normal; }
.Sy {       font-style: normal;
        font-weight: bold; }
.Li {       font-style: normal;
        font-weight: normal;
        font-family: monospace; }
