[Unit]
Description=Reload auxserver.idx file after update
Wants=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/killall -s SIGHUP docserv-auxserver

[Install]
WantedBy=default.target
