{{ template "header" . }}

<div class="maincontents">

<h1>Binary packages containing manpages</h1>

<ul>
{{ range $idx, $dir := .Bins }}
{{ if and (not (HasSuffix $dir ".gz")) (not (HasPrefix $dir ".")) }}
  <li><a href="{{ BaseURLPath }}/{{ $.Suite }}/{{ $dir}}/index.html">{{ $dir }}</a></li>
{{ end }}
{{ end }}
</ul>

</div>

{{ template "footer" . }}
