<table>
<tr>
<td>
Source file:
</td>
<td>
{{ .SourceFile }} (from {{ .Meta.Package.Binarypkg }} {{ .Meta.Package.Version }})
</td>
</tr>

<tr>
<td>
Source last updated:
</td>
<td>
{{ Iso8601 .LastUpdated }}
</td>
</tr>

<tr>
<td>
Converted to HTML:
</td>
<td>
{{ Iso8601 .Converted }}
</td>
</tr>
</table>
