body {
    color: #000;
    background-color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 100%;
    line-height: 1.2;
    letter-spacing: 0.15px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: overlay;
}

aside {
    background-color: #173f4f;
    color: #ffffff;
    position: sticky;
    top: 0;
    left: 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: row;
}

#logo {
    display: inline-block;
    width: 100%;
}

#navgroup {
    padding: 0.5rem;
}

#header h1 {
    font-size: 100%;
    margin: 0;
}

#logo img {
    margin: 0 0.5rem;
}

#logo .title {
    padding: 0.25rem 0;
    text-align: center;
    color: white;
    background-color: #73ba25;
}

#logo .image {
    text-align: center;
}

p.section a {
    color: white;
    text-decoration: none;
}

.hidecss {
    display: none;
}

#searchbox {
    margin: 1rem 0;
}

#searchbox input[type=submit] {
    color: #ffffff;
    background-color: #73ba25;
    border: none;
    padding: 0.25rem 0.5rem;
}

#searchbox input {
    border: 1px solid #516f7b;
    padding: 0.2rem;
    outline: none;
    font: inherit;
    font-size: 0.8rem;
}

#navbar ul {
    margin: 0 0 0 0.25rem;
    padding: 0;
    list-style: none;
}

#navbar a {
    color: #ffffff;
}

#navbar a:hover {
    text-decoration: underline;
}

a:link {
    color: #173f4f;
}

a:visited {
    color: #54638c;
}

#breadcrumbs {
    padding: 0.25rem 0;
    border-bottom: 1px solid #73ba25;
}

#breadcrumbs .nav {
    margin: 0 0.5rem;
}

#content {
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.paneljump {
    background-color: #73ba25;
    padding: 0.5em;
    border-radius: 3px;
    margin-right: .5em;
    display: none;
}

.paneljump a,
.paneljump a:visited,
.paneljump a:hover,
.paneljump a:focus {
    color: white;
}

@media all and (max-width: 800px) {
    #content {
        flex-direction: column;
        margin: 0.5em;
    }
    .paneljump {
        display: block;
    }
}

.panels {
    display: block;
    order: 2;
}

.maincontent {
    width: 100%;
    max-width: 80ch;
    order: 1;
}

#footer {
    border: 1px solid #dfdfe0;
    border-left: 0;
    border-right: 0;
    background-color: #f5f6f7;
    padding: 1em;
    margin: 1em 0 0 0;
    font-size: 0.75em;
    line-height: 1.5em;
}

hr {
    border-top: 1px solid #d2d3d7;
    border-bottom: 1px solid white;
    border-left: 0;
    border-right: 0;
    margin: 1.4375em 0 1.5em 0;
    height: 0;
    background-color: #bbb;
}

#content p {
    padding-left: 1em;
}

a, a:hover, a:focus, a:visited {
    color: #0530D7;
    text-decoration: none;
}

/* Panel styles */
.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading, .panel details {
  margin: -15px -15px 0px;
  background-color: #73ba25;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-heading, .panel summary {
  padding: 5px 5px;
  font-size: 17.5px;
  font-weight: 500;
  color: #ffffff;
  outline-style: none;
}

.panel summary {
    padding-left: 7px;
}

summary, details {
    display: block;
}

.panel details ul {
  margin: 0;
}

.panel-footer {
  padding: 5px 5px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-info {
  border-color: #bce8f1;
}

.panel-info .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}


.list-group {
  padding-left: 0;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 5px 5px 5px 5px;
  margin-bottom: -1px;
  border: 1px solid #dddddd;
}

.list-group-item > .list-item-key {
  min-width: 27%;
  display: inline-block;
}
.list-group-item > .list-item-key.versions-repository {
  min-width: 40%;
}
.list-group-item > .list-item-key.versioned-links-version {
  min-width: 40%
}


.versioned-links-icon {
  margin-right: 2px;
}
.versioned-links-icon a {
  color: black;
}
.versioned-links-icon a:hover {
  color: blue;
}
.versioned-links-icon-inactive {
  opacity: 0.5;
}

.list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}

.list-group-item:hover {
  background-color: #efefef;
}

.list-group-item.active a {
  z-index: 2;
}

.list-group-item.active {
  background-color: #efefef;
}

.list-group-flush {
  margin: 15px -15px -15px;
}
.panel .list-group-flush {
  margin-top: -1px;
}

.list-group-flush .list-group-item {
  border-width: 1px 0;
}

.list-group-flush .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-flush .list-group-item:last-child {
  border-bottom: 0;
}

.panel {
float: right;
clear: right;
min-width: 200px;
}

.toc {
    /* Limit the content’s width */
    width: 200px;
}

.toc li {
    font-size: 98%;
    letter-spacing: 0.02em;
    display: flex;
}

.otherversions {
    /* Limit the content’s width */
    width: 200px;
}

.otherversions li,
.otherlangs li {
    display: flex;
}

.otherversions a,
.otherlangs a {
    flex-shrink: 0;
}

.pkgversion,
.pkgname,
.toc a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.pkgversion,
.pkgname {
    margin-left: auto;
    padding-left: 1em;
}

/* mandoc styles */

.mandoc, .mandoc pre, .mandoc code {
    font-family: "Source Code Pro", monospace;
    font-size: 1.04rem;
}
.mandoc pre {
    white-space: pre-wrap;
}
.mandoc {
    margin-right: 45px;

    /* Required so that table.head and table.foot can take up 100% of what remains after floating the panels. */
    overflow: hidden;
    margin-top: .5em;
}
table.head, table.foot {
    width: 100%;
}
.head-vol {
    text-align: center;
}
.head-rtitle {
    text-align: right;
}

/* TODO(later): get rid of .spacer once a new-enough mandoc is in Debian */
.spacer, .Pp {
    min-height: 1em;
}

pre {
    margin-left: 2em;
}

.anchor {
    margin-left: .25em;
    visibility: hidden;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: .07em;
    margin-top: 1.5em;
    margin-bottom: .35em;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 125%;
}

@media print {
    #header, #footer, .panel, .anchor, .paneljump {
        display: none;
    }
    #content {
        margin: 0;
    }
    .mandoc {
        margin: 0;
    }
}

/* from mandoc.css */
/* Displays and lists. */

.Bd { }
.Bd-indent {    margin-left: 3.8em; }

.Bl-bullet {    list-style-type: disc;
        padding-left: 1em; }
.Bl-bullet > li { }
.Bl-dash {  list-style-type: none;
        padding-left: 0em; }
.Bl-dash > li:before {
        content: "\2014  "; }
.Bl-item {  list-style-type: none;
        padding-left: 0em; }
.Bl-item > li { }
.Bl-compact > li {
        margin-top: 0em; }

.Bl-enum {  padding-left: 2em; }
.Bl-enum > li { }
.Bl-compact > li {
        margin-top: 0em; }

.Bl-diag { }
.Bl-diag > dt {
        font-style: normal;
        font-weight: bold; }
.Bl-diag > dd {
        margin-left: 0em; }
.Bl-hang { }
.Bl-hang > dt { }
.Bl-hang > dd {
        margin-left: 5.5em; }
.Bl-inset { }
.Bl-inset > dt { }
.Bl-inset > dd {
        margin-left: 0em; }
.Bl-ohang { }
.Bl-ohang > dt { }
.Bl-ohang > dd {
        margin-left: 0em; }
.Bl-tag {   margin-left: 5.5em; }
.Bl-tag > dt {
        float: left;
        margin-top: 0em;
        margin-left: -5.5em;
        padding-right: 1.2em;
        vertical-align: top; }
.Bl-tag > dd {
        clear: both;
        width: 100%;
        margin-top: 0em;
        margin-left: 0em;
        vertical-align: top;
        overflow: auto; }
.Bl-compact > dt {
        margin-top: 0em; }

.Bl-column { }
.Bl-column > tbody > tr { }
.Bl-column > tbody > tr > td {
        margin-top: 1em; }
.Bl-compact > tbody > tr > td {
        margin-top: 0em; }

.Rs {       font-style: normal;
        font-weight: normal; }
.RsA { }
.RsB {      font-style: italic;
        font-weight: normal; }
.RsC { }
.RsD { }
.RsI {      font-style: italic;
        font-weight: normal; }
.RsJ {      font-style: italic;
        font-weight: normal; }
.RsN { }
.RsO { }
.RsP { }
.RsQ { }
.RsR { }
.RsT {      text-decoration: underline; }
.RsU { }
.RsV { }

.eqn { }
.tbl { }

.HP {       margin-left: 3.8em;
        text-indent: -3.8em; }

/* Semantic markup for command line utilities. */

table.Nm { }
code.Nm {   font-style: normal;
        font-weight: bold;
        font-family: inherit; }
.Fl {       font-style: normal;
        font-weight: bold;
        font-family: inherit; }
.Cm {       font-style: normal;
        font-weight: bold;
        font-family: inherit; }
.Ar {       font-style: italic;
        font-weight: normal; }
.Op {       display: inline; }
.Ic {       font-style: normal;
        font-weight: bold;
        font-family: inherit; }
.Ev {       font-style: normal;
        font-weight: normal;
        font-family: monospace; }
.Pa {       font-style: italic;
        font-weight: normal; }

/* Semantic markup for function libraries. */

.Lb { }
code.In {   font-style: normal;
        font-weight: bold;
        font-family: inherit; }
a.In { }
.Fd {       font-style: normal;
        font-weight: bold;
        font-family: inherit; }
.Ft {       font-style: italic;
        font-weight: normal; }
.Fn {       font-style: normal;
        font-weight: bold;
        font-family: inherit; }
.Fa {       font-style: italic;
        font-weight: normal; }
.Vt {       font-style: italic;
        font-weight: normal; }
.Va {       font-style: italic;
        font-weight: normal; }
.Dv {       font-style: normal;
        font-weight: normal;
        font-family: monospace; }
.Er {       font-style: normal;
        font-weight: normal;
        font-family: monospace; }

/* Various semantic markup. */

.An { }
.Lk { }
.Mt { }
.Cd {       font-style: normal;
        font-weight: bold;
        font-family: inherit; }
.Ad {       font-style: italic;
        font-weight: normal; }
.Ms {       font-style: normal;
        font-weight: bold; }
.St { }
.Ux { }

/* Physical markup. */

.Bf {       display: inline; }
.No {       font-style: normal;
        font-weight: normal; }
.Em {       font-style: italic;
        font-weight: normal; }
.Sy {       font-style: normal;
        font-weight: bold; }
.Li {       font-style: normal;
        font-weight: normal;
        font-family: monospace; }
